<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKmznwj5Uz6aknSCd__QexKPPrXVeC1-c</string>
	<key>GCM_SENDER_ID</key>
	<string>83056440762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.liveasyAssignment</string>
	<key>PROJECT_ID</key>
	<string>liveasy-b7395</string>
	<key>STORAGE_BUCKET</key>
	<string>liveasy-b7395.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83056440762:ios:122d9a3ebde795ca5ed983</string>
</dict>
</plist>